html {
  background-color: darkslategray;
}

.container-fluid {
  background-color: darkslategrey;
}

input[type="text"] {
  background-color: transparent;
  color: white;
}

input[type="text"]:focus {
  background-color: transparent;
  color: white;
}

.delete-icon{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
